.container-element {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-wrapper {
  width: 100%;
}

.container-sm {
  max-width: 24rem;
}

.container-md {
  max-width: 28rem;
}

.container-lg {
  max-width: 56rem;
}

.container-xl {
  max-width: var(--page-max-width);
}

.container-full {
  width: 100%;
}

.container-with-padding {
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
