.tabs-content-element {
  display: block;
  outline: none;
  margin-top: 0.5rem;

  &:focus-visible {
    outline: none;
    box-shadow:
      0 0 0 2px hsl(var(--background)),
      0 0 0 4px hsl(var(--ring));
  }
}
